  body {
    font-family: Righteous;
    background:  url(../img/yellowtree.jpg);
  }
  h1 {
    color: #476268;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
    
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #40A798;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }
  li:first-letter {
    text-transform: capitalize;
  }
  .weather-app-wrapper {
    max-width: 500px;
    margin: 40px auto;
    background-color: #F5E1DA transparent;
    ;
  }
  .weather-app {
    padding: 30px;
    border: 2px solid #dadde1;
    border-radius: 15px;
     }

  .overview {
    margin-bottom: 20px;
  }
  .weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
  }

  .weather .btn {
    background: #885df1;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    height: 50px;
}
  .weather-temperature strong {
    color: #476268;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
  }
  .weather-temperature .active {
    color: #476268;
    cursor: default;
  }
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #476268;
  }
  
  .weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
  }
  
  .weather-forecast-temperature-min {
    opacity: 0.5;
  }
  
  .weather-forecast-temperatures {
    font-size: 13px;}